.navbar-brand {
  background-image: url("./resources/img/MaxxCntnt.jpg");
}

#nav {
  background-color: black;
  color: whitesmoke;
}

.img-fluid {
  height: 50px;
  width: 50px;
  border: 0;
  overflow: hidden;
  /* margin-top: -6px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

body {
  background-image: url("./resources/img/B&W-Laptop");
  background-repeat: no-repeat;
  background-size: cover;
}

.bw-laptop {
  max-width: 1000%;
}

#building {
  text-align: center;
  color: rgb(148, 14, 14);
}

#Maxx {
    font-size: 25px;
}

#about {
  text-align: center;
}

section {
  display: block;
  background-color: lightgrey;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

h3 {
  color: rgb(148, 14, 14);
}

#lms {
  color: rgb(148, 14, 14);
}

footer {
  background-color: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.foot {
  font-weight: bold;
}
