.navbar-brand {
  background-image: url("./resources/img/MaxxCntnt.jpg");
}

#nav {
  background-color: black;
  color: whitesmoke;
}

.img-fluid {
  display: inline-block;
  height: 100px;
  width: 300px;
  border: 0;
  overflow: hidden;
  /* margin-top: -6px; */
}

#banner {
  display: inline-block;
  color: rgb(178, 33, 37);
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a,
.dropbtn {
  clear: both;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(178, 33, 37);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box;
}
body {
  background-image: url("./resources/img/B&W-Laptop");
  background-repeat: no-repeat;
  background-size: cover;
}

.bw-laptop {
  max-width: 100%;
}

#building {
  text-align: center;
  color:  rgb(178, 33, 37);
}

#Maxx {
  font-size: 25px;
}

.about {
  text-align: center;
  font-size: 18px;
}

#mission {
  text-align: center;
  color: rgb(178, 33, 37);
  display: block;
  width: 50%;
  height: 100px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

#missionst8mnt {
  margin: 10px;
  font-size: 25px;
  color: rgb(178, 33, 37);
  text-align: center;
}

article {
  color: white;
  background: black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.middle-content {
  box-sizing: border-box;
}

.card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 33.33%;
  margin-left: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

h4 {
  clear: both;
  color:  rgb(178, 33, 37);
  font-size: 20px;
}

p {
  font-size: 18px;
}

footer {
  background-color: rgb(178, 33, 37);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
}

.foot {
  font-weight: bold;
}
